/* Universal Style */
* {
    font-family: 'Poppins', sans-serif;
  }
  
  body,html, :root {
    min-height: 100%;
    background-color: #EFF0F5;
    padding: 0;
    margin: 0;
    /* height: 100%; */
    
    font-size: 1em;
  }

  /* Import Font */
  @font-face {
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: Poppins;

    src: url(../fonts/Poppins-SemiBold.ttf);
    font-family: Poppins-Semibold;
  }

/*  ===================   SERRANO CSS   ===================*/

  /* header */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
  }
  
  .logo {
    cursor: pointer;
    height: 5rem;
  }

  .navbar-register {
    list-style: none;
  }

  .navbar-register li {
    display: inline-block;
    background-color: #1e81b0;
    padding: 10px 10px;
    border-radius: 12%;
  }

  .navbar-register li a {
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
    font-family: Poppins-Semibold;
  }

  .navbar-register li a:hover {
    color: black;
  }

  .searchbar {
    color: #333;
    font-size: 17px;
    height: 40px;
    line-height: 44px;
    margin-left: 50px;
    padding-left: 10px;
    width: 400px;
    border-radius: 5px;
    padding-right: 47px;
    font-family: Poppins;
  }

  .searchbar_btn {
    background-color: #1e81b0;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 48px;
    line-height: 40px;
    text-align: center;
    width: 50px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
  }

  .searchbar_btn img {
    padding-top: 7px;
    height: 1.3rem;
  }

  /* NavBar */
  
  .navbar-container {
    margin-top: 0px;
    height: 50px;
    background-color: #1e81b0;
  }

  .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
    padding: 10px 10%;
  }

  .navbar-links li a{
    background-image: linear-gradient(
      to right,
      #00008B,
      #191970 50%,
      #FFFF 50%
    );
    font-family: Poppins-Semibold;
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.1s ease-in-out;
  }

  .navbar-links li a:hover{
    background-position: 0;
  }

  .navbar-links li a:hover::before{
    width: 100%;
  }

  /* footer */
  footer {
    width: 100%;
    background-color: #1e81b0;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .footer-links{
    display: flex;
    align-items: center;
    justify-content: left;
    list-style: none;
  }

  .footer-links li a {
    background-image: linear-gradient(
      to right,
      #00008B,
      #191970 50%,
      #FFFF 50%
    );
    font-family: Poppins;
    letter-spacing: 2px;
    color: white;
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.1s ease-in-out;
  }

  .footer-links li a:hover{
    background-position: 0;
  }

  .footer-links li a:hover::before{
    width: 100%;
  }

  .footer-links li span {
    color: white;
    font-weight: 300;
    padding: 0px 20px 0px 20px;
  }

  .horizontal-line {
    border-color: white;
    border-style: inset;
    border-width: 1px;
    width: 1280px;
    
  }

  .footer-boxes {
    padding: 0px 70px 0px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-info li {
    list-style: none;
    font-size: small;
    padding-right: 50px;
  }

  .footer-info span {
    font-size: medium;
    display: block;
    font-family: Poppins-Semibold;
    margin-bottom: 5px;
  }

  .vl {
    border-left: 1px solid white;
    height: 100px;
  }

  .site-info {
    width: 20%;
    font: Poppins;
    font-size: small;
    text-align: justify;
  }

  .site-info span {
    font-size: medium;
    display: block;
    font-family: Poppins-Semibold;
    margin-bottom: 5px;
    color: black;
  }

/*  ===================   WAYCO CSS   ===================*/


a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
categories{
  display: block;
  color: black;
  padding: 10px 40px 10px 200px;
}

categories a{
  color: blue;
  text-decoration: none;
  font-family: Poppins-Semibold;
  font-size: small;
}

categories2 a{
  color: blue;
  text-decoration: none;
  font-family: Poppins-Semibold;
  font-size: small;
}

categories2{
  display: block;
  color: black;
  padding: 10px 40px 10px 200px;
  
}
.categories-list{
  display: flex;
  padding-top: 36px;
}

/*  ===================   VICQUERRA CSS   ===================*/

/*  ===================   TOBIAS CSS   ===================*/
  