/* Universal Style */
* {
    font-family: 'Poppins', sans-serif;
  }
  
  body,html, :root {
    min-height: 100%;
    background-color: #EFF0F5;
    padding: 0;
    margin: 0;
    /* height: 100%; */
    font-family: Poppins, sans-serif;
    font-size: 1em;
  }

  /*
  Color Pallete
    #0359b6	- dark blue
    #3BACF1	- light blue
    #2969D6 - mid dark blue
    #132540 - navy blue
    #6a6d78 - gray
    #383838 - dark gray
    #0097B2 - logo pallete
  */

  /* Import Font */
  @font-face {
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: Poppins;

    src: url(../fonts/Poppins-SemiBold.ttf);
    font-family: Poppins-Semibold;
  }

/*  ===================   SERRANO CSS   ===================*/

  /* header */

  header {
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 30px 100px;
    background-color: #eae7e6;
  }

  .slogan{
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', sans-serif;
    color: #132540;;
    height: 55px;
    padding-top: 30px;
    border-bottom: solid 4px #132540;
  }

  .slogan strong{
    font-size: 4.5rem;
    font-weight: 700;
    color: #132540;
  }

  .slogan p{
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0;
    line-height: 25px;
  }

  .slogan p span{
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 800;
    color: #132540;
  }

  .logo {
    cursor: pointer;
    height: 6rem;
    padding-top: 30px;
  }

  .navbar-register{
    padding: 0;
  }

  /* Register */
  .navbar-register{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .navbar-register li{
    list-style: none;
    background-color: #0097B2;
    padding: 10px 15px;
    border-radius: 12%;
    transition: all .2s linear;
    font-size: .9rem;
  }

  .navbar-register li a{
    color: #FFFF;
    font-family: Poppins, sans-serif;
  }

  .navbar-register li:hover{
    background-color: #132540;
  }

  /* Register */
  .password-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
  }

  .password-container input {
    width: 100%; 
    padding-right: 30px;
    box-sizing: border-box;
  }


  .navbar_profile{
    padding-top: 50px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;

  }

  .navbar_profile a img{
    cursor: pointer;
    width: 15px;
    display: flex;
  }

  .navbar_profile a{
    text-decoration: none;
  }
  
  .navbar_profile a p{
    color: black;
    cursor: pointer;
    font-size: .95rem;
    font-weight: 600;
    transition: all .3s ease-in-out;
  }

  .navbar_profile p:hover {
    color: #0097B2;
    font-size: 1rem;
    text-decoration: underline;
  }

  /* Navbar Link */
  .navbar-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0097B2;
    height: 50px;
    list-style: none;
    font-size: 20px;
    padding: 0px 50px;
    margin-top: 0;
  }


  .navbar-links li a, .footer-links li a, .footer-info li a{
    background-image: linear-gradient(
      to right,
      #132540,
      #132540 50%,
      #FFFF 50%
    ); 
    font-family: Poppins-Semibold;
    background-size: 200% 100%;
    background-position: -100%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
  }

  .navbar-links li a:hover, .footer-links li a:hover, .footer-info li a:hover{
    background-position: 0;
  }

  .navbar-links li a:hover::before, .footer-links li a:hover::before, .footer-info li a:hover::before {
    width: 100%;
  }

  #submenu{
    right: 10px;
    opacity: 1;
    position: absolute;
    top: 220px;
    visibility: hidden;
    z-index: 2;
    list-style: none;
    padding: 5px;
    width: 250px;
    line-height: 50px;
    background-color: #0097B2;
    border-radius: 10px;
    text-align: center;
  }

  li:hover ul#submenu{
    opacity: 1;
    visibility: visible;
  }

  #submenu li{
    float: none;
    width: 100%;
    font-size: medium;
  }

  /* footer */
  footer {
    width: 100%;
    background-color: #0097B2;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 0px;
  }

  .footer-content{
    padding-top: 5px;
    margin-top: 1rem;
  }

  .footer-links{
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    list-style: none;
  }

  .footer-links li span {
    color: white;
    font-weight: 300;
    padding: 0px 20px;
  }

  .horizontal-line {
    border-color: white;
    border-style: inset;
    border-width: 1px;
    width: 1280px;
    
  }

  .footer-boxes {
    padding: 0px 70px 0px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-boxes .site-info p {
    color: white;
  }

  .footer-info li {
    list-style: none;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-info li a{
    color: white;
    font-family: Poppins;
    font-size: small;
    font-weight: 600;
  }

  .footer-info span {
    padding-left: 15px;
    font-size: medium;
    display: flex;
    align-items: center;
    font-family: Poppins-Semibold;
    margin-bottom: 5px;
  }

  .vl {
    border-left: 1px solid white;
    height: 100px;
  }

  .footer-social-icons{
    list-style: none;
    text-align: center;
    padding: 0;
    font-weight: 400;
  }

  .footer-social-icons li{
    margin: 0;
    color: #FFFF;
    font-size: .8rem;
  }

  .site-info {
    width: 20%;
    font: Poppins;
    font-size: small;
    text-align: justify;
  }

  .site-info span {
    font-size: medium;
    display: block;
    font-family: Poppins-Semibold;
    margin-bottom: 5px;
    color: black;
  }

  .footer-copyright{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-copyright p{
    font-size: small;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    color: white;
  }

  /*Carousel*/
  .img-slider {
    position: relative;
    width: 100%;
    height: 500px;
    background: #0097B2;
    margin-bottom: 50px;
  }

  .img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 50%);
  }

  .img-slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }

  .img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
    height: 500px;
  }

  .img-slider .slide .info {
    position: absolute;
    top: 0;
    padding: 15px 30px;
  }

  .img-slider .slide .info h2 {
    font-family: Poppins;
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
  }

  .img-slider .slide .info p {
    margin-top: 100px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    font-size: 25px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-family: Poppins-Semibold;
  }

  .img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .img-slider .navigation .btn {
    background: rgba(255, 255, 255, 0.5); 
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }

  .img-slider .navigation .btn.active {
    background: #3BACF1;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }

  /* Video */
  .video_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
  }

  .video_wrapper iframe{
    width: 800px;
    height: 600px;
  }


  /* Landing Page - About E-Aklatan */
  .about_container {
    margin-top: 0;
    display: flex;
  }

  .about_container img {
    margin: 5%;
    width: 500px;
    height: 300px;
  }

  .brief_aboutUs{
    display: block;
    padding: 30px 40px 40px 40px;
    text-align: justify;
  }

  .brief_aboutUs h2 {
    font-weight: 700;
    font-size: xx-large;
    text-decoration: underline;
  }

  .brief_aboutUs button {
    font-size: 16px;
    border-radius: 10%;
    color: #FFFF;
    background-color: #0097B2;
    padding: 8px 18px;
    margin-top: 20px;
    transition-duration: 0.3s;
  }

  .brief_aboutUs button:hover{
    background-color: #132540;
  }

  /* Landing Page - News and Updates */
  .NewAndUpdate_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .NewAndUpdateTitle h1{
    margin-top: 10rem;
    text-align: center;
  }

  .viewBtn_container {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10%;
  }

  .viewBtn_container a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .viewBtn_container a img {
    margin-left: 5px;
    height: 20px;
    width: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.0);
    cursor: pointer;
  }

  .viewBtn_container a span {
    color: #6a6d78;
    font-weight: 500;
    font-size: 15px;
  }

  .cards h2 {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 30px 0 5px;
    text-align: justify;
  }

  .cards button {
    margin-top: 30px;
    border-radius: 20%;
    padding: 5px;
    transition-duration: 0.3s;
  }

  .cards button:hover {
    background-color: #0359b6;
    color: white;
  }

  .cards span {
    color: #6a6d78;
    font-size: .9rem;
  }
  
  .newsimage_container{
    border: solid 1px rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px;
    border-radius: 5px;
  }

  .newsimage_container img{
    width: 300px;
    height: 200px;
  }

  .NewsAndUpdate_carousel .cards {
    height: 400px;
    list-style: none;
    background: #FFFF;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    justify-content: left;
    align-items: baseline ;
    flex-direction: column;
    padding: 15px;
    border: solid 1px rgba(0, 0, 0, 0.2);
  }

  .NewsAndUpdate_wrapper .NewsAndUpdate_carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  .NewsAndUpdate_wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }

  .NewsAndUpdate_wrapper .arrowButton {
    height: 50px;
    width: 50px;
    background: #FFFF;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .NewsAndUpdate_wrapper .arrowButton:first-child {
    left: -23px;
  }

  .NewsAndUpdate_wrapper .arrowButton:last-child {
    right: -55px;
  }

  /* Top Books */
  .topBooks_Title{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topbooks_container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topbooks_wrapper{
    max-width: 1100px;
    width: 100%;
    position: relative;
  }

  .topbooks_wrapper .arrowBtn:first-child{
    left: -23px;
  }

  .topbooks_wrapper .arrowBtn:last-child{
    right: -55px;
  }

  .topbooks_wrapper .arrowBtn{
    height: 40px;
    width: 40px;
    background: #FFFF;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .topbooks_wrapper .topbooks_carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 5));
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  .topbooks_carousel .frontcover{
    width: 190px;
    height: 420px;
    list-style: none;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    padding: 15px;
    align-items: center;
  }

  .topbooks_carousel .frontcover a {
    text-decoration: none;
    color: black;
  }

  .topbooks_carousel .frontcover img{
    width: 180px;
    height: 290px;
  }

  .topbooks_carousel .frontcover h2 {
    font-family: Poppins;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 0;
  }

  .topbooks_carousel .frontcover h5{
    margin: 0;
    font-size: 1rem;
    text-align: center;
  }

  .topbooks_carousel .frontcover .seemore_container {
    margin-top: 20px;
    padding-left: 120px;
  }

  .topbooks_carousel .frontcover .seemore_container a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100px;
    transition: all 0.3s ease;
  }

  .topbooks_carousel .frontcover .seemore_container a:hover span{
    color: #2969D6;
    font-size: 1rem;
  }

  .topbooks_carousel .frontcover .seemore_container a:hover img{
    height: 18px;
    width: 18px;
  }

  .topbooks_carousel .frontcover .seemore_container a img {
    height: 16px;
    width: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.0);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .topbooks_carousel .frontcover .seemore_container a span {
    color: #6a6d78;
    font-weight: 500;
    font-size: .8rem;
    transition: all 0.3s ease;
  }

  /* ----- BOOKS PAGE ------ */
  .booksPage_container {
    display: flex;
    padding: 1px;
    height: 2000;
  }

  /* Books Header*/
  .books_header {
    width: 88%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    border-bottom: solid 1px gray;
  }

  .books_header h2 {
    font-size: 1.8rem;
  }

  /* Search Bar */
  .search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
  }
  
  .searchbar {
    color: #333;
    font-size: 13px;
    height: 30px;
    line-height: 44px;
    padding-left: 10px;
    width: 200px;
    border-radius: 5px 0px 0px 5px;
    border-color: rgba(255, 255, 255, 0.3);
    font-family: Poppins;
  }
  
  .searchbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c757d;
    font-size: 13px;
    height: 30px;
    line-height: 40px;
    border-color: rgba(200, 200, 200, 0.9);
    border-radius: 0px 5px 5px 0px;
    width: 50px;
    cursor: pointer;
  }
  
  .searchbar_btn :hover{
    font-size: 15px;
    color: #132540;
  }

  /* books */
  .books_container {
    width: 80%;
    height: 1800px;
    padding: 5px;
  }

  .books_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }

  .book {
    width: 250px;
    height: 400px;
    margin: 20px 0 20px 0;
  }

  .book_img{
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: .5s ease;
  }

  .book_img img{
    width: 180px;
    height: 280px;
    margin: 0;
    display: block;
    opacity: 1;
    backface-visibility: hidden;
  }

  .cover_container {
    height: 50px;
    width: 50px;
    transition: .5s ease;
    opacity: 0;
    transform: translate(190%, -400%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .cover_container img {
    width: 80px;
    height: 80px;
  }

  .book:hover .book_img {
    opacity: 0.3;
  }

  .book:hover .cover_container{
    opacity: 1;
  }

  .book_info h2{
    position: relative;
    top: -45px;
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1px;
  }

  .book_info h3{
    position: relative;
    top: -45px;
    margin: 0;
    font-size: 1rem;
    text-align: center;
  }

  /* Borrow Book Popup */
  .popup {
    position: absolute;
    top: -190%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 600px;
    padding: 20px 30px;
    background: #132540;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .3);
    border-radius: 5%;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
  }

  .popup.active {
    background: #132540;
    top: 80%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, 
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;

  }

  .popup h2 {
    text-align: center;
    color: #FFF;
    padding: 0 0 20px 0;
  }

  .popup .close-btn {
    font-size: .9rem;
    font-weight: 550;
    position: absolute;
    color: #6a6d78;
    top: 10px;
    right: 10px;
    background: #FFF;
    width: 15px;
    height: 15px;
    padding: 3px;
    border-radius: 15px;
    text-align: center;
    line-height: 13px;
    cursor: pointer;
  }






  /* Styling for form elements */
  .form-element {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .form-element label {
    flex: 0 0 200px;
    font-weight: bold;
    color: #CCC;
  }

  .form-element input[type="file"] {
    color: black;
    background-color: white;
  }

  .form-element input[type="text"],
  .form-element input[type="file"],
  .form-element select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    box-sizing: border-box;
  }

  /* Styling for submit button */
  .button-container {
    text-align: center;
  }

  .borrow-submit {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
  }

  .borrow-submit:hover {
    background-color: #0056b3;
  }

  /* Styling for alert messages */
  .alert {
    padding: 10px;
    margin-top: 15px;
    border-radius: 3px;
  }

  .alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
  }

  .alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
  }

  /* Styling for select element */
  .form-element select {
    height: 40px;
  }

  /* Additional styling for better appearance */
  #borrow-form input[type="text"]::placeholder,
  #borrow-form input[type="file"]::placeholder,
  #borrow-form select::placeholder {
    color: #999;
  }

  #borrow-form input[type="text"]:focus,
  #borrow-form input[type="file"]:focus,
  #borrow-form select:focus {
    border-color: #007BFF;
    outline: none;
  }

  #borrow-form button:focus {
    outline: none;
  }






  /* side bar */
  .sidebar_container {
    width: 20%;
    /* border: solid 1px black; markings */
    height: 2000px;
    padding: 5px;
  }

  .sidebar_categories_wrapper {
    /* border: solid 1px green; markings */
    margin: 5em 0 5em 0;
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    padding: 5px;
    box-shadow: 5px 10px #6a6d78;
  }

  .sidebar_categories ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }

  .sidebar_categories ul li a{
    text-decoration: none;
    color: black;
  }

  .sidebar_categories ul li a {
    transition: all 0.2s ease-in-out;
  }

  .sidebar_categories ul li a:hover {
    color: #2969D6;
    font-size: 20px;
  }

  .sidebar_wrapper h3, .sidebar_categories_wrapper h3{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trendBook_wrapper {
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    display: flex;
    padding: 3px;
    margin-bottom: 8px;
  }

  .book_box img {
    opacity: 1;
    cursor: pointer;
    height: 180px;
    width: 130px;
    transition: .3s ease;
  }

  .book_box img:hover {
    opacity: 0.5;
  }

  .sidebar_book_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%
  }

  .sidebar_book_info h5{
    margin: 5px;
  }

  .sidebar_book_info h3 {
    cursor: pointer;
    font-size: .9rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease-in-out;
    margin: 0;
  }

  .sidebar_book_info h3:hover {
    text-decoration: underline;
  }

  /* Pagination */
  .pagination {
    position: relative;
    bottom: 20px;
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
  }

  .pagination li {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1, 1, 1 / 10%);
  }

  .pagination li a {
    color: #FFFF;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
  }

  .previous-page, .next-page {
    background: #0AB1CE;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .previous-page:hover {
    transform: translateX(-5px);
  }

  .next-page:hover {
    transform: translateX(5px);
  }

  .current-page, .dots {
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
  }

  .active {
    background: #0AB1CE;
  }

  .disable {
    background: #ccc;
  }

  /* Newspaper Page */

  /* Annual Reports Carousel */
  .annualReport_Title{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .AnnualReport-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
  }

  .AnnualReport-wrapper{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .AnnualReport-box{
    display: flex;
  }

  .AnnualReport-box a{
    outline: 1px solid #6a6d78;
    height: 50px;
    margin: 1px 0 0 1px;
    display: flex;
    justify-self: center;
    align-items: center;
    text-decoration: none;
    color: #0359b6;
    padding: 9px;
    font-size: .7rem;
  }

  .AnnualReport-box h3{
    outline: 1px solid #6a6d78;
    margin: 1px 0 0 1px;
    width: 820px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
  }

  /* Mission Vision */
  .background_container{
    background-image: url('../images/makatiCityHall_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 1000px;
    padding: 4%;
  }

  .background_container .container_wrapper{
    border: solid 0 transparent;
    height: 90%;
    width: 1130px;
    background-color: rgba(245, 245, 245, 0.8);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    border-radius: 30px;
    padding: 4%;
    text-align: center;
  }

  .container_wrapper h3{
    font-size: x-large;
  }

  .makaticity_wrapper{
    border: solid 0 transparent;
    background-color: rgba(245, 245, 245, 0.8);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    height: 280px;
    border-radius: 15px;
    padding: 20px 100px 20px 100px;
    text-align: justify;
  }

  .makatiVision_container{
    padding-bottom: 50px;
  }

  .makatiMission_container p, .makatiVision_container p{
    margin-top: 0;
  }

  .makatiMission_container h3, .makatiVision_container h3{
    margin: 0;
    text-align: center;
  }

  /* Contact Us */
  .contactUs-infowrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  .googlemap-location iframe{
    width: 1000px;
  }

  /* ABOUT US */
  .AboutUs_info-1, .contactUs-info1{
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: start;
    text-align: left;
    flex-direction: column;
    margin-bottom: 4em;
    font-size: medium;
  }

  .aboutUs_intro_wrapper{
    border: solid 0 transparent;
    background-color: rgba(245, 245, 245, 0.8);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    height: 200px;
    border-radius: 15px;
    padding: 10px 100px 10px 100px;
    text-align: justify;
    margin-bottom: 2rem;
    font-size: .95em;
  }

  .aboutUs_intro_wrapper p{
    margin: 0;
    padding: 0;
  }

  .aboutUs_intro_wrapper h3{
    text-align: left;
    margin: 0;
    padding: 20px 0 20px 0;
  }

  .aboutUs_info-2{
    border: solid 0 transparent;
    background-color: rgba(245, 245, 245, 0.8);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    height: 335px;
    border-radius: 15px;
    padding: 10px 100px 10px 100px;
    text-align: justify;
    margin-bottom: 2rem;
    font-size: .95em;
  }

  .aboutUs_info-3{
    border: solid 0 transparent;
    background-color: rgba(245, 245, 245, 0.8);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    height: 635px;
    border-radius: 15px;
    padding: 10px 100px 10px 100px;
    text-align: justify;
    margin-bottom: 2rem;
    font-size: .95em;
  }

  .aboutUs_info-4{
    border: solid 0 transparent;
    background-color: rgba(245, 245, 245, 0.8);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    height: 155px;
    border-radius: 15px;
    padding: 10px 100px 10px 100px;
    text-align: justify;
    margin-bottom: 2rem;
    font-size: .95em;
  }

  .aboutUs_info-5{
    border: solid 0 transparent;
    background-color: rgba(245, 245, 245, 0.8);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    height: 180px;
    border-radius: 15px;
    padding: 10px 100px 10px 100px;
    text-align: justify;
    margin-bottom: 2rem;
    font-size: .95em;
  }

  .aboutUs_info-6{
    border: solid 0 transparent;
    background-color: rgba(245, 245, 245, 0.8);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    height: 760px;
    border-radius: 15px;
    padding: 10px 100px 10px 100px;
    text-align: justify;
    margin-bottom: 2rem;
    font-size: .95em;
  }

  /* Brief History */
  .briefHistory_info-1{
    text-align: justify;
    font-size: .95em;
  }

  .briefHistory_info-1 p, .briefHistory_info_wrapper{
    border: solid 0 transparent;
    background-color: rgba(245, 245, 245, 0.8);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    border-radius: 15px;
    padding: 20px 50px 20px 50px;
  }

  .briefHistory_info-2{
    font-size: .95em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .briefHistory_info-2 ul{
    list-style-type: decimal;
  }

  .briefHistory_info_wrapper h4{
    text-align: center;
  }

  /* Removed Books */
  .article_Body{
    width: 1340px;
    height: 1800px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .article_container{
    width: 1000px;
    height: 1800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .article_title{
    height: 110px;
    font-family: Poppins, sans-serif;
    text-align: center;
    line-height: 50px;
  }

  .article_title h4{
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
  }

  .article_title h4 span{
    font-size: 1rem;
    font-weight: 400;
  }

  .image_wrapper img{
    width: 700px;
    height: 450px;
  }

  .articleBody{
    width: 90%;
    margin-bottom: 70px;
  }

  .articleBody p{
    text-align: justify;
  }

  .articleBody ul li{
    text-align: justify;
  }

  /* Continue Reading */
  .continueReading{
    position: relative;
    bottom: 0;
  }

  .continueReading .title{
    text-align: center;
  }

  /* Books Info */
  .bookpage_container{
    padding: 5%;
  }

  .GoBack{
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 110px;
    height: 45px;
  }

  .GoBack a{
    text-decoration: none;
    color: black;
    display: flex
  }

  .GoBack img{
    height: 20px;
    width: 20px;
  }

  .GoBack h4{
    font-family: Poppins, sans-serif;
    font-weight: 400;
  }

  .GoBack:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }

  .bookinfo_container{
    display: flex;
    padding-right: 50px;
    margin-top: 40px;
  }

  .bookFrontCover{
    margin-right: 50px;
  }

  .bookFrontCover img{
    width: 300px;
    height: 400px;
  }
  
  .bookinfo-1 h2{
    margin: 0;
    letter-spacing: 2px;
  }

  .bookinfo-1 h5{
    font-weight: 400;
    font-size: .9rem;
  }
  
  .bookinfo-1 p{
    text-align: justify;
  }

  .bookinfo-1 .borrow-button{
    font-size: .9rem;
    padding: 5px 40px;
    background-color: #0359b6;
    color: #FFFF;
    font-weight: 600;
    border-radius: 5px;
  }

  /* Terms and Condition */
  .terms_container, .privacy_container{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .terms_wrapper, .privacy_wrapper{
    width: 900px;
    font-family: Poppins, sans-serif;
    text-align: justify;
  }

  .terms_wrapper h2, .privacy_wrapper h2{
    margin-bottom: 0;
    font-size: 2.5rem;
  }

  .terms_wrapper h5, .privacy_wrapper h5{
    margin-top: 0;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
  }

  .terms_wrapper h3, .privacy_wrapper h3{
    margin-bottom: 0;
    font-size: 1.4rem;
  }

  .terms_wrapper p, .privacy_wrapper p{
    margin-top: 0;
  }



/* loging in forms */
/*-- form styling --*/
.w3l-mockup-form {
  position: relative;
  min-height: 100vh;
  z-index: 0;
  background: rgba(99, 194, 110, 0.1);
  padding: 40px 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.w3l_form {
  flex-basis: 50%;
  -webkit-flex-basis: 50%;
  background: #FFF;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.w3l_form img{
  height: 500px;
  width: 480px;
}

.content-wthree {
  flex-basis: 60%;
  -webkit-flex-basis: 60%;
  box-sizing: border-box;
  padding: 3em 3.5em;
  background: #F9F6EE;
  box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.password_errors ul{
  margin: 0;
  list-style: none;
  font-size: .9rem;
  color: #FF5050;
}

.content-wthree img{
  position: absolute;
  width: 25px;
  cursor: pointer;
  right: 10px;
  top: 13px;
}

.w3l-mockup-form .main-mockup {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 40px 0;
}

.w3l-mockup-form form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.social-icons {
  text-align: center;
}

.w3l-mockup-form h2 {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 35px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #132540;
}

.w3l-mockup-form p{
  font-size: .9rem;
}

.w3l-mockup-form input {
  outline: none;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #999;
  text-align: left;
  padding: 10px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: transparent;
  border: 1px solid #e5e5e5;
  transition: 0.3s all ease;
}

.w3l-mockup-form input:focus {
  border-color: #0097B2;
}

.w3l-mockup-form button {
  font-size: 18px;
  color: #fff;
  width: 100%;
  background: #0097B2;
  border: none;
  padding: 10px 15px;
  font-weight: 500;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.w3l-mockup-form button:hover {
  background: #0359b6;
}

.alert {    
  padding: 1rem;
  border-radius: 5px;
  color: white;
  margin: 1rem 0;
}

.alert-success {
  background-color: #42ba96;
}

.alert-danger {
  background-color: #fc5555;
}

.alert-info {
  background-color: #2E9AFE;
}

.alert-warning {
  background-color: #ff9966;
}

/* Profile Page */
.profile_container{
  width: 1240px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 3rem;
}

.profile_sidebar{
  width: 30%;
  height: 1000px;
  margin-right: 30px;
}

.profile_mainbar{
  width: 70%;
  height: 1000px;
}

.profile_info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload{
  text-align: center;
}

.upload img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 5px;
}

.upload .rightRound{
  position: absolute;
  top: 70%;
  left: 22%;
  background-color: #0097B2;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 33px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.upload .leftRound{
  position: absolute;
  top: 70%;
  left: 12%;
  background-color: red;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.upload .fa{
  position: absolute;
  bottom: 10px;
  left: 9px;
  color: white;
}

.upload input{
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

.upload input::-webkit-file-upload-button, .upload input[type=submit]{
  cursor: pointer;
}

.profile_info h2{
  margin: 0;
  font-weight: 600;
}

.profile_sidebarmenu{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
}

.profile_sidebarmenu ul{
  margin: 0;
  padding: 0;
}

.profile_sidebarmenu li{
  list-style: none;
  outline: 1px solid #383838;
  padding: 5px;
  width: 300px;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1px 0 0 0;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.profile_sidebarmenu li:hover {
  background: #0097B2;
  color: #FFFF;
}


/* Profile Dashboard*/
.dashboardtitle_container{
  text-align: left;
  color: #132540;
}

.dashboard_title{
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  padding: 10px;
  text-decoration: underline;
}

.dashboard_container, .usermanagement_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard_table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: .9em;
  min-width: 400px;
}

.dashboard_table thead tr{
  background-color: #0097B2;
  color: #FFF;
  text-align: center;
  font-weight: bold;
}

.dashboard_table th, 
.dashboard_table td{
  padding: 12px 15px;
  text-align: center;
}

.dashboard_table tbody tr{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dashboard_table tbody tr:last-of-type {
  border-bottom: 2px solid #0097B2;
}

.userid_link{
  text-decoration: none;
  color: #0097B2;
}


/* Account Details - Profile */
.accountdetails_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form_accountdetails {
  width: calc(33.33% - 10px);
  margin-bottom: 10px;
}

.form_accountdetails label {
  display: block;
  margin-bottom: 5px;
}

.form_accountdetails input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.logout_container{
  width: 200px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.logout_container:hover{
  text-decoration: underline;
}

.newbook_header{
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.newbook_form{
  max-width: 500px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.newbook_form label{
  display: block;
  margin-bottom: 8px;
}

.newbook_form label input[type="text"], .newbook_form label input[type="file"], textarea{
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.newbook_form button{
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newbook_form button:hover {
  background-color: #2980b9;
}




  /* Media Queries */

  /* 2xl */
  @media only screen and (max-width: 2560px){
    header{
      width: 1400px;
      padding: 30px 100px;
    }

    footer, .img-slider, .about_container, .NewAndUpdate_container, .topBooks_Title, 
    .NewAndUpdateTitle, .topbooks_container, .video_container, .booksPage_container, .newspapers_body,
    .container{
      width: 1600px;
    }

    .background_container{
      width: 1395px;
    }

    .navbar-links{
      width: 1520px;
      padding: 0 40px;
    }


    .brief_aboutUs{
      padding: 60px 150px 0 0;
    }

    .horizontal-line{
      width: 1500px;
    }
  }


  /* xl */
  @media only screen and (max-width: 1440px) {
    header{
      width: 1340px;
      padding: 20px 50px;
    }

    footer, .img-slider, .about_container, .NewAndUpdate_container, .topBooks_Title, 
    .NewAndUpdateTitle, .topbooks_container, .video_container, .booksPage_container, .newspapers_body,
    .background_container, .container{
      width: 1440px;
    }

    .background_container{
      width: 1325px;
    }

    .navbar-links{
      width: 1400px;
      padding: 0 20px;
    }

    .brief_aboutUs{
      padding: 30px 100px 0 0;
    }

    .horizontal-line{
      width: 1400px;
    }
  }
  

  /* My Screen Size */
  @media only screen and (max-width: 1370px){
    header{
      width: 1250px;
      padding: 20px 50px;
    }

    footer, .img-slider, .about_container, .NewAndUpdate_container, .topBooks_Title, 
    .NewAndUpdateTitle, .topbooks_container, .video_container, .booksPage_container, .newspapers_body,
    .background_container, .container{
      width: 1350px;
    }

    .background_container{
      width: 1245px;
    }

    .navbar-links{
      width: 1310px;
      padding: 0 20px;
    }

    .horizontal-line{
      width: 1300px;
    }
  }

  
  @media only screen and (max-width: 1024px){
    header{
      width: 1190px;
      padding: 20px 50px;
    }

    footer, .img-slider, .about_container, .NewAndUpdate_container, .topBooks_Title, 
    .NewAndUpdateTitle, .topbooks_container, .video_container, .booksPage_container, .newspapers_body,
    .background_container, .container{
      width: 1290px;
    }

    .background_container{
      width: 1210px;
    }

    .navbar-links{
      width: 1250px;
      padding: 0 20px;
    }

    .horizontal-line{
      width: 1250px;
    }
  }

  @media only screen and (max-width: 768px) {
    .background_container{
      width: 1230px;
    }
  }